@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1000px;
    padding-bottom: 3rem;
  } 
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  .slide {
    height: 400px;
    width: 100%;
    border-radius: 4px;
    display: inline-block;
  }
  .slideshowDots {
    text-align: center;
  }
  .slideshowDot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
  }
  .slideshowDot.active {
    background-color: #6a5921;
  }