@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.intro{
    &__header{
        padding-top: 1rem;
        padding-left: 1rem;
        font-size: 1.2rem;
        @include tablet-and-desktop{
            font-weight: 600;
            font-size: 2rem;
            padding: 1rem 0 1rem 2rem;
            // font-weight: 700;
        }
    }
    &__tabsparent{
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-right: 0.5rem;
    }
    &__tab{
        margin-left: 1vw;
        border-bottom: solid 1px lightgray;
        transition: all 0.3s ease;
        font-size: 0.9rem;
        padding-left: 1rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: $website-border-lightgray;
        width: 40vw;
        &:hover{
            background-color: white;
            transform: scale(1.02);
            text-align: center;
            // font-size: 1rem;
            font-weight: 600;
        }
        @include tablet-and-desktop{
            font-size: 1rem;
            padding: 0.5rem 2rem;
            // width: 30rem;
            // padding: 2.4rem;
            // color: white
            // background-color: $website-border-lightgray;
            // box-shadow: 0 4px 8px rgba(0,0,0,0.5);
            &:hover{
                background-color: white;
                transform: scale(1.02);
                text-align: center;

                font-weight: 600;
            }
        }
        @include desktop{
            padding: 1.5rem 3rem;
            width:20rem;
        }
    }
    &__card{
        background-color: white;
        box-shadow: 0 4px 8px rgba(0,0,0,0.5);
        border-radius: 4px;
        @include big-mobile-screen{
            width: 50%;
        }
        @include tablet-and-desktop{
            display: flex;
            // height: 30rem;
            width: 60%;
            border-radius: 4px;
        }
        &--content{
            padding: 0.5rem 0.5rem 1rem 0.5rem;
            @include tablet-and-desktop{
                align-self: center;
                padding: 2rem;
                width: 40%;
            }
            @include desktop{
                align-self: center;
            }
        }
        &--image{
            width: 10rem;
            border-radius: 4px;
            display: block;
            padding-top: 0.5rem;
            // margin-top: 0.5rem !important;
            // padding-top: 0.5rem;
            // margin-right: 0.5ren;
            // margin-left: 0.5ren;
            width: 90%;
            margin: auto;
            // @include big-mobile-screen{
            //     width: 90%;
            //     margin: auto;
            // }
            @include tablet-and-desktop{
                // padding: 1rem;
                width: 50%;
                border-radius: 4px;
            }

            // position: fixed;
            // top: 20px; /* Adjust as needed */
            // left: 20px; /* Adjust as needed */
            // z-index: 10; /* Ensure it's above the content; adjust as needed */
        }
        &--li{
            padding: 0.25rem 0.25rem;
            list-style-type: none;
            font-size: 0.9rem;
            border-bottom: 1px solid $website-border-lightgray;
            @include desktop{
                font-size: 1rem;
                padding: 1rem 1rem;
            }
        }
    }
    &__labels{

    }
}
.active{
    background-color: white;
    transform: scale(1.02);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    z-index: 10;
    box-shadow: 0 2px 0 rgba(233, 232, 232, 0.5);
    @include tablet-and-desktop{
        background-color: white;
        // font-weight: 700;

        font-size: 1.1rem;
        &:hover{
            background-color: white;
        }
    }
}
@keyframes slideIn {
    from {
        // transform: translateX(100%);
        opacity: 0;
    }
    to {
        // transform: translateX(0);
        opacity: 1;
    }
}
.intro__card--animate {
    animation: slideIn 1s forwards; // Adjust duration as needed
}
// .tab1, .tab2, .tab3{
//     width: 4rem;
//     height: 4rem;
//     background-color: red;
// }