@font-face{
    font-family: "Nexa";
    src: url(../../assets/fonts/Nexa-Light.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: "Nexa";
    src: url(../../assets/fonts/Nexa-Bold.otf);
    font-style: normal;
    font-weight: 600;
}
@font-face{
    font-family: "Cormorant";
    src: url(../../assets/fonts/Cormorant-Light.ttf);
    font-style: normal;
    font-weight: 300;
}
@font-face{
    font-family: "Cormorant";
    src: url(../../assets/fonts/Cormorant-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: "Cormorant";
    src: url(../../assets/fonts/Cormorant-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face{
    font-family: "Cormorant";
    src: url(../../assets/fonts/Cormorant-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}
@font-face{
    font-family: "Cormorant";
    src: url(../../assets/fonts/Cormorant-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face{
    font-family: "Bruney";
    src: url(../../assets/fonts/Bruney.ttf);
    font-style: normal;
    font-weight: 300;
}
@font-face{
    font-family: "GeneralSans";
    src: url(../../assets/fonts/GeneralSans-Extralight.otf);
    font-style: normal;
    font-weight: 300;
}
@font-face{
    font-family: "GeneralSans";
    src: url(../../assets/fonts/GeneralSans-Light.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: "GeneralSans";
    src: url(../../assets/fonts/GeneralSans-Regular.otf);
    font-style: normal;
    font-weight: 500;
}
@font-face{
    font-family: "GeneralSans";
    src: url(../../assets/fonts/GeneralSans-Semibold.otf);
    font-style: normal;
    font-weight: 600;
}
@font-face{
    font-family: "GeneralSans";
    src: url(../../assets/fonts/GeneralSans-Bold.otf);
    font-style: normal;
    font-weight: 700;
}
