$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1195px;
$mobile-header-fontsize: 1rem;
$mobile-subheader-fontsize: 0.9rem;
$mobile-content-fontsize: 0.8rem;
$text-darkgray: rgb(39, 32, 32);
$text-shadow: #3d3d3d;
$button-color: #2f7fb0;
$button-color-hover: #0c4f76;
$website-darkgray: rgb(44, 43, 43);
$xeus-darkmaroon: #200007;
$xeus-mediumbeige: rgb(224, 196, 154);
$xeus-lightbeige: rgb(243, 226, 201);
<<<<<<< HEAD
$website-border-lightgray: rgb(238, 234, 234);
=======
$website-border-lightgray: rgb(238, 234, 234);
>>>>>>> main
