@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.hero{
    &__childmobile{
        background-image: url('../../assets/images/Heromobile.jpg'); // Adjust the path as needed
        background-size: contain;
        background-position: top;
        // object-fit: contain;
        height: 70%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: 2rem;
        aspect-ratio: 16/6.2;
        margin-top: 2rem;
        @include tablet-and-desktop{
            display: none;
        }
    }
    &__branding{
        display: flex;
        flex-direction: row;
        max-width: 90%;
        margin: auto;
        padding-top: 1rem;
        @include tablet-and-desktop{
            flex-direction: column;
            padding-top: 0;
        }
    }
    &__logo{
        width: 27vw;
        margin: 0.5rem;
        @include tablet-and-desktop{
            width: 9rem;
            display: block;
            margin: auto;
            padding-top: 1rem;
        }
        @include desktop{
            padding-bottom: 1rem;  
        }
    }
    &__about2{
        padding-top: 1.5rem;
        padding-left: 5%;
        align-self: center;
        @include tablet-and-desktop{
            padding-top: 0;
        }
    }
    &__about3{
        padding-top: 2rem;
        font-size: 1.2rem;
        width: 60%;
        margin: auto;
        @include tablet-and-desktop{
            padding-top: 2rem;
            font-size: 1.2rem;
        }
    }
    &__about4{
        color: white;
        font-size: 0.9rem;
        width: 60%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin: auto;
        text-align: center;
        @include tablet-and-desktop{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    &__image{
        width: 100%;
        height: 600px;
    }
    &__parent{
        display: flex;
        flex-direction: column;
        @include tablet-and-desktop{
            display: flex;
            flex-direction: row;
            margin-top: 2.2rem;
            width: 100%;
        }
    }
    &__child1{
        background-color: rgb(44, 43, 43);
        @include tablet-and-desktop{
            background-color: rgb(44, 43, 43);
            height: 540px;
            width: 35%;
        }
        @include desktop{
            height: 600px;
            padding: 1rem 3rem 2rem 3rem;
            width: 23%;
        }
    }
    &__child2{
        display: none;
        @include tablet-and-desktop{
            background-image: url('../../assets/images/Hero.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position-x: 3rem;
            height: 540px;
            width: 3500px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
        }
        @include desktop{
            height: 600px;
            width: 77%;
        }
    }
    &__about1{
        padding-top: 0.5rem;
        line-height: 2rem;
        word-spacing: 30px;
        padding-bottom: 0.2rem;
    }
    &__form{
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
        // @include tablet-and-desktop{
        // }
        &--name, &--email, &--phone{
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 1rem;
            margin-bottom: 0.5rem;
            border-radius: 6px;
            border: none;
            font-family: Nexa;
            font-weight: 400;
            background-color: rgb(235, 234, 234);
            @include tablet-and-desktop{
                height: 1.8rem;
            }
        }
        &--button{
            border-radius: 6px;
            height: 2rem;
            background-color: rgb(106, 106, 106);
            color: white;
        }
    }
    &__brandname{
        font-size: 2rem;
        font-weight: 400;
    }
    &__brandname, &__about1, &__about2, &__about3 {
        color: white;
        text-align: center;
    }
}
