@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.burger{
    // z-index: 993;
    &__parent{
        position: fixed;
        right: -1rem;
        top: 0.5rem;
        width: 4rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        @include tablet-and-desktop{
            display: none;
        }
    }
    &__div1, &__div2, &__div3{
        width: 2rem;
        height: 0.2rem;
        background-color: rgb(40, 37, 37);
        margin-bottom: 0.25rem;
        border-radius: 10px;
        transition: 0.3s linear;
    }
    &__div1.open{
        transform: rotate(45deg) translateY(-2px);
        opacity: 0.5;
        transform-origin: 0px;
    }
    &__div2.open{
        transform: translateX(100%);
        opacity: 0;
    }
    &__div3.open{
        transform: rotate(-45deg) translateX(-1px) translateY(-1px);
        opacity: 0.5;
        transform-origin: 10px;
    }
}