@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.header{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        @include tablet-and-desktop{
            padding-top: 1rem;
            padding-bottom: 1rem;
            }
        &__list{
            @include tablet-and-desktop{
            display: flex;
            flex-direction: row;
            padding-left: 1.5rem;
            gap: 6%;
            }
            &--brandname{
                cursor: pointer;
                list-style-type: none;
                font-family: Bruney, sans-serif;
                font-weight: 600;
                color: #847508;
                font-size: 1.2rem;
                @include desktop{
                    font-size: 1.4rem;
                }
            }
            &--item{
                cursor: pointer;
                display: none;
                @include tablet-and-desktop{
                display: flex;
                width: 6.5rem;
                list-style-type: none;
                font-size: 1rem;
                &:hover{
                    font-weight: 700;
                }
                @include desktop{
                    width: 8.5rem;
                    font-size: 1.2rem;
                }
                }
        }
    }
}
.headeractive{
    font-weight: 700;
    font-size: 1rem;
    @include desktop{
        font-size: 1.2rem;
    }
}