@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.footer{
    background-color: $xeus-darkmaroon;
    &__parent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        max-width: 600px;
        margin: auto;
        @media (min-width: 500px) {
            padding: 1rem 2rem;
            max-width: 700px;      
        }
        @include tablet-and-desktop{
            padding: 2rem 0 1rem 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        @media (min-width: 900px) {
            padding: 1rem 2rem;
            max-width: 800px;      
        }
        @media (min-width: 1000px) {
            padding: 1rem 2rem;
            max-width: 900px;      
        }
        @include desktop{
            max-width: 1200px;    
        }
    }
    &__phoneparent, &__emailparent{
        display: flex;
        flex-direction: row;
        &--text{
            padding-bottom: 1rem;
        }
    }
    &__title{
        padding-bottom: 1rem;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        @include tablet-and-desktop{
            font-size: 1.5rem;
            font-weight: 400;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    &__phone, &__email{
        color: white;
        font-size: 0.9rem;
        @include tablet-and-desktop{
            font-size: 1rem;
        }
    }
    &__phone{
        padding-bottom: 0.5rem;
    }
    &__email{
        margin-bottom: 1rem;
    }
    &__icon, &__icon--insta{
        width: 1.3rem;
        height: 1.3rem;
        margin-right: 0.5rem;
        @include tablet-and-desktop{
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
    &__icon{
        &--insta{
            margin-right: 0.5rem;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }
        &--instatext{
            color: white;
            padding-bottom: 0.5rem;
            font-size: 0.77rem;
            @include tablet-and-desktop{
                padding-bottom: 0.5rem;
            }

        }
        &--instaparent{
            display: flex;
            align-items:center;
        }
        &--fbparent{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    &__logo{
        cursor: pointer;
        width: 90%;
        margin-left: 1rem;
        @media (min-width: 400px) {
            padding-left: 1rem;
            width: 10rem;       
        }
        @include tablet-and-desktop{
            width: 13rem;
        }
    }
    &__container1{
        padding: 0;
        max-width: 500px;
        @include tablet-and-desktop{
            max-width: 85%;
        }
    }
    &__copyright{
        color: white;
        font-size: 0.8rem;
        padding-top: 1rem;
    }
    &__copyrightparent{
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    &__logoreplacement{
        font-size: 2.5rem;
        color: $xeus-lightbeige;
        font-family: Bruney;
    }
}