@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.footer{
    background-color: $website-darkgray;
    padding-top: 1rem;
    padding-left: 1rem;
    @include tablet-and-desktop{
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__mobilelogo{
        width: 25vw;
        @include big-mobile-screen{
            width: 35%;
        }
    }
    &__mobileparent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        @include big-mobile-screen{
            gap: 25%;
            margin: auto;
        }
        @include tablet-and-desktop{
            gap: 50%;
        }
    }
    &__phoneparent, &__emailparent{
        display: flex;
        flex-direction: row;
        &--text{
            padding-bottom: 1rem;
        }
    }
    &__title{
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        @include tablet-and-desktop{

            font-size: 2rem;
            font-weight: 400;
            padding-bottom: 1rem;
        }
    }
    &__phone, &__email{
        color: white;
        font-size: 0.9rem;
        @include tablet-and-desktop{
            font-size: 1rem;
        }
    }
    &__email{
        margin-bottom: 1rem;
    }
    &__icon, &__icon--insta{
        width: 1.3rem;
        height: 1.3rem;
        margin-right: 0.5rem;
        @include tablet-and-desktop{
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
    &__icon--insta{
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
    &__logo{
        display: none;
        @include tablet-and-desktop{
            width: 20rem;
            padding-right: 1rem;
        }
    }
    &__container1{
        padding: 0 1rem 1rem 0;
        margin: auto;
        max-width: 500px;
        @include tablet-and-desktop{
            max-width: 85%;
        }
    }
}