@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.projects{
    &__maintitle{
        font-size: 1.3rem;
        padding-top: 4rem;
        text-align: center;
        padding-bottom: 1rem;
    }
    &__wrapper{
        @include tablet-and-desktop{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 0.7rem;
            padding-bottom: 2rem;
        }
    }
    &__parent{
        @include tablet-and-desktop{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2rem;
        }
    }
    &__niagaraone, &__ancasterone, &__oakvillebath, &__burligntonone, &__mississaugastore, &__miltoneone{
        // overflow: hidden;

        &--title{
            font-size: 1rem;
            text-align: center;
            padding-top: 0.7rem;
            padding-bottom: 2rem;
        }
        &--image{
            display: block;
            width: 60vw;
            aspect-ratio: 16/9;
            margin: auto;
            border-radius: 4px;
            transition: transform 1s ease, box-shadow 0.3s ease;;
            @include tablet-and-desktop{
                width: 30vw;
            }
            &:hover{
                transform: scale(1.05);
                box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
            }
        }
    }

}